*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
}

.slider img{
    width: 100%;
}

.doted{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    cursor: pointer;
}

